* {
    font-family: "Lora", "Minion Pro", "Palatino", "Georgia", "sans-serif";
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1.125rem;
    line-height: 1.5;
    color: #333;
}

a {
    background-color: transparent;
    text-decoration: none;
}

.wrapper {
    max-width: 60rem;
    margin: 1.5rem auto;
    padding: 0 2rem;
}

#avatar {
    display: block;
    margin: 0 auto;
    width: 6rem;
    max-width: 100%;
    border-radius: 50%;
    pointer-events: none;
}

#title {
    margin: 1rem 0 2rem;
    text-align: center;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: -.15rem;
    line-height: 1;
}

#description {
    margin-bottom: 1rem;
    padding: .4rem 0 .9rem;
    border-top: .25rem solid #c7c7c7;
    border-bottom: .125rem solid #c7c7c7;
    text-align: center;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    font-size: 1.75rem;
    font-weight: 300;
    letter-spacing: -.05rem;
    line-height: 2rem;
}

nav {
    margin: 1.5rem 0 3rem;
    width: 100%;
    border-top: .25rem solid #c7c7c7;
    border-bottom: .125rem solid #c7c7c7;
}

.menu-item {
    display: inline-block;
    margin-bottom: .5rem;
    padding: .2rem 0 .4rem;
    width: 24.5%;
    cursor: pointer;
    text-align: center;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    font-size: 1.55rem;
    font-weight: 900;
    letter-spacing: -.05rem;
}

@media(max-width: 600px) {
    .menu-item {
        display: block;
        margin-bottom: 0;
        width: 100%;
    }
}

#education-container {
    display: block;
}

#publications-container, #teaching-container, #contacts-container {
    display: none;
}

.resume-item {
   margin-bottom: 2rem;
}

.item-title {
    margin-bottom: .75rem;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: -.05rem;
    line-height: 1;
}

.item-description {
    display: inline;
    margin-bottom: .75rem;
    font-weight: 700;
    line-height: 1;
}

.item-text {
    margin: .75rem 0 1rem;
}

.my-link {
    font-weight: bold;
    color: #333;
}

iframe {
    width: 100%;
    border: 0;
}

.icon-link {
    margin-right: 1rem;
}

.icon-link:hover svg path {
    fill: #333;
    transition: all 0.3s ease;
}
